# Now make sure .gitattributes is tracked:, run the following command: git add .gitattributes
# To apply end-of-line normalization, run the following command and then commit the changes: git add --renormalize .
#   git add .gitattributes && git add --renormalize .
* text=auto

# LF files
*.sh eol=lf

# CRLF files
*.bat text eol=crlf
LICENSE.txt eol=crlf

# Text files that should not be subject to eol conversion
*.rtf -text

# https://github.com/github/linguist
# https://github.com/github/linguist/blob/master/docs/overrides.md
**/*.ipynb linguist-documentation
**/*.json linguist-language=jsonc

# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
# **/poetry.lock linguist-generated=true

*.py diff=python
*.md diff=markdown

# Binary data types
*.7z binary
*.aif binary
*.aifc binary
*.aiff binary
*.au binary
*.bmp binary
*.exe binary
*.gif binary
*.gz binary
*.icns binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pck binary
*.png binary
*.psd binary
*.svg binary
*.tar binary
*.tgz binary
*.tif binary
*.tiff binary
*.wav binary
*.whl binary
*.zip binary
